/auth_code.txt
target/
/01-commitdata.csv
/02-ticketdata.csv
/ticketdata.csv
/04-data.csv
finalresult.csv
testing.arff
testing.csv
training.arff
training.csv
/03-versionsdata.csv
/SYNCOPE01-commitdata.csv
/SYNCOPE02-ticketdata.csv
/SYNCOPE03-versionsdata.csv
/TAJO01-commitdata.csv
/TAJO02-ticketdata.csv
/TAJO03-versionsdata.csv
.vscode
MyLogFile.log